@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+AU+NSW:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #141e27;
  font-family: "Roboto", "Lora", "Edu NSW ACT Hand Pre";
}
html {
  scroll-behavior: smooth;
  /* transition: all 0.5s ease-in-out; */
}
header {
  width: 100%;
  min-height: 100vh;
  background: #faf1c3;
  background: linear-gradient(
      90deg,
      rgba(250, 241, 195, 0.986) 10%,
      rgba(247, 235, 176, 0.336) 45%
    ),
    url("../photos/cake-background.jpg");
  background-size: cover;
  background-position: 50% 50%;
  /* background-position: 60%; */
  padding-top: 20px;
}

nav {
  width: 80%;
  height: 80px;
  margin: auto;
  background: #f0d9a7c7;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 110px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.banner-content {
  width: 50%;
  min-height: 75vh;
  border: none;
  /* background: pink; */
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 15px;
  margin-top: 60px;
}
.banner-content h1,
.banner-content p {
  font-family: "Playwrite AU NSW";
}

.btn-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  padding: 8px 20px;
  background: #b9b730;
  border-radius: 30px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: #9b9929;
}
/* menu btn  */
.menu {
  display: none;
}

section {
  min-height: 100vh;
  box-shadow: 2px 2px 4px #d4d1d1;
  padding: 50px;
}
.title {
  text-align: center;
}

/* about section */
#about {
  background: rgba(247, 246, 189, 0.801);
  min-height: 50vh;
}

.about-section {
  display: flex;
}

.about-content,
.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.about-image {
  padding-top: 30px;
}
/* menu-section */
.menu-section {
  display: flex;
  gap: 20px;
  margin: 30px; /*to separate each section*/
  /* background: lightblue; */
}
.flex-2 {
  flex: 2;
  display: flex; /*for child h3 and p*/
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.flex-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* testimonials section */
.testimonials {
  width: 100%;
  background-image: url("../photos/cake\ with\ powder.avif");
  background-size: cover;
  background-position: 50% 40%;
  background-attachment: fixed;
}

.testimonials-section {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonials-content,
.testimonials-photo {
  flex: 1;
  display: flex; /*for child*/
  justify-content: center;
  align-items: center;
}

.testimonials-content {
  flex-direction: column;
  gap: 20px;
  padding: 50px; /*this makes unequal content */
  background: #ffffff;
}

.testimonials-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* contact section */
#contact {
  background: rgb(247, 248, 166);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.contact-section {
  box-shadow: 2px 2px 4px #d4d1d1;
  background: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form {
  display: flex;
  align-items: center;
  /* background: pink; */
}
form {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  box-shadow: 2px 2px 4px #d4d1d1;
}

.contact-title {
  margin-bottom: 20px;
  font-style: italic;
}

input,
textarea {
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #f1eaea;
}

input::placeholder,
textarea::placeholder {
  color: #141e27ee;
}

.send-button {
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #f7f33d;
  color: rgb(14, 13, 13);
  font-style: italic;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.send-button:hover {
  background: #fffc5e;
}
footer {
  min-height: 50vh;
  background: rgba(245, 241, 241, 0.623);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsla(208, 32%, 12%, 0.933);
}
.footer-contact-section div {
  display: flex;
  margin-top: 25px;
  align-items: center;
  gap: 10px;
}
.footer-about-company-section {
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-about-company-section div {
  display: flex;
  gap: 10px;
}
